<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_methods实现</title>
</head>

<body>
    <!-- 模板容器 -->
    <div id="app">
        姓: <input type="text" v-model="xing"><br><br>
        名: <input type="text" v-model="ming"><br><br>
        <!-- 假设这里只要xing前三位 -->
        姓名: {{xingming()}}
    </div>

    <script src="../js/vue.js"></script>
    <script>
        Vue.config.productionTip = false // 阻止vue 在启动时生成生产提示

        //  创建Vue实例
        new Vue({
            el: "#app",
            data: {
                xing: "张",
                ming: "三",
            },
            methods: {
                xingming() {
                    return this.xing + "-" + this.ming
                }
            },
        })
    </script>
</body>

</html>